/*

Your styles go here!

Hint! You'll probably want to start by styling:
  * <body>
  * <article>
  * <h1>
  * <img>

I've left some boilerplate below for you.

*/
@import url(http://weloveiconfonts.com/api/?family=zocial);
@media screen and (min-width: 50em){
  #wrapper {
    width: 50em;
    margin-left: auto;
    margin-right: auto;
  }
}

hr {
  color: black;
  border-top: 5px double black;
}

footer li {
  display: inline-block;
  font-size: 1.5em;
}

/* zocial */
[class*="zocial-"]:before {
  display: inline-block;
  font-family: 'zocial', sans-serif;
  text-shadow: 3px 3px 3px #aaa;
  margin-right: 5px;
}

* {
    box-sizing: border-box;
}

#wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: white;
  border-radius: 5px;
}
h1 {
  font-family: 'Lobster', cursive;
}
body {
    margin: 10px;
    font-size: 16px;
    background: rgba(76,76,76,1);
    background: -moz-linear-gradient(-45deg, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 8%, rgba(71,71,71,1) 15%, rgba(102,102,102,1) 23%, rgba(17,17,17,1) 43%, rgba(44,44,44,1) 59%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 87%, rgba(0,0,0,1) 94%, rgba(19,19,19,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(76,76,76,1)), color-stop(8%, rgba(89,89,89,1)), color-stop(15%, rgba(71,71,71,1)), color-stop(23%, rgba(102,102,102,1)), color-stop(43%, rgba(17,17,17,1)), color-stop(59%, rgba(44,44,44,1)), color-stop(76%, rgba(43,43,43,1)), color-stop(87%, rgba(28,28,28,1)), color-stop(94%, rgba(0,0,0,1)), color-stop(100%, rgba(19,19,19,1)));
    background: -webkit-linear-gradient(-45deg, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 8%, rgba(71,71,71,1) 15%, rgba(102,102,102,1) 23%, rgba(17,17,17,1) 43%, rgba(44,44,44,1) 59%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 87%, rgba(0,0,0,1) 94%, rgba(19,19,19,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 8%, rgba(71,71,71,1) 15%, rgba(102,102,102,1) 23%, rgba(17,17,17,1) 43%, rgba(44,44,44,1) 59%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 87%, rgba(0,0,0,1) 94%, rgba(19,19,19,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 8%, rgba(71,71,71,1) 15%, rgba(102,102,102,1) 23%, rgba(17,17,17,1) 43%, rgba(44,44,44,1) 59%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 87%, rgba(0,0,0,1) 94%, rgba(19,19,19,1) 100%);
    background: linear-gradient(135deg, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 8%, rgba(71,71,71,1) 15%, rgba(102,102,102,1) 23%, rgba(17,17,17,1) 43%, rgba(44,44,44,1) 59%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 87%, rgba(0,0,0,1) 94%, rgba(19,19,19,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=1 );
}

article {
  width: 90%;
}

p {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  padding: 5px;
}

img {
    max-width: 100%;
    /*width: 100%;*/
    border-radius: 15px;
}

#smiley_face {
    display: block;
    margin-right: auto;
    margin-left: 5px;
    min-width: 120px;
}

figcaption {
  text-align: center;
}